<div id="logo_infos">
    <img src="../../assets/imagens/logo_oficial.png" alt="" srcset=""
      style="margin: 2vh; position:absolute; width: 25vh;">
    <img src="../../assets/imagens/ilustra_app.e3ddb49.png" alt=""
      style="margin: 15vh 5vh; position: absolute; width: 100vh;">
  </div>

<div class="content">
  <div class="form">
    <input [(ngModel)]="loginType" id="signin" name="action" type="radio" value="signin">
    <label for="signin">Sign in</label>
    <input [(ngModel)]="loginType" id="signup" name="action" type="radio" value="signup">
    <label for="signup">Sign up</label>

    <div id="wrapper">
      <div id="arrow"></div>
      <input id="username" placeholder="Username" type="text" [(ngModel)]="usuario.usuario">
      <input id="senhaUsuario" placeholder="Password" type="password" [(ngModel)]="usuario.senha">
      <input id="emailUsuario" placeholder="Email" type="text" [(ngModel)]="usuario.email">
    </div>

    <button>
      <span (click)="checkTipoLogin();">
        <br />
        Sign in
        <br />
        Sign up
      </span>
    </button>
    <div *ngIf="userError">
      <p style="font-size: 20px; color:rgb(255, 118, 118); font-weight:bolder">{{userError}}</p>
    </div>
  </div>
</div>
