<div id="cabecalho">
    <img src="../../assets/imagens/logo_oficial.png" alt="" srcset=""
        style="margin: 5px 10px;top:5px; position:absolute; max-width: 140px; left: 2vh;">
    <nav class="nav">
        <span><img src="../../assets/imagens/profile.png" alt="" srcset="" id="chat"></span>
        <ul>
            <abbr title="Home">
                <li>
                    <a href="#"><img src="../assets/imagens/home.png" style="max-width: 25px; max-height: 25px;">
                    </a>
            </abbr>

            <li><a href="#"><img src="../assets/imagens/filter.png" style="max-width: 25px; max-height: 25px;"></a>
            <li><a href="#"><img src="../assets/imagens/friends.png" style="max-width: 25px; max-height: 25px;"></a>
            <li><a href="#"><img src="../assets/imagens/comment.png" style="max-width: 25px; max-height: 25px;"></a>
        </ul>
    </nav>
</div>

<router-outlet></router-outlet>