* {
    overflow: hidden;
}

#cabecalho {
    width: 100%;
    background: #000000;
}

#cabecalho span {
    position: absolute;
    top: 17px;
    right: 2vh;
    display: flex;
    align-items: center;
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
}

nav {
    z-index: -1;
    margin: 0 auto;
    max-width: 600px;
}

nav::after {
    display: block;
    content: '';
    clear: both;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 1rem 3.9rem;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: all .3s ease-in-out;
}

nav ul li a:hover,
nav ul li a:focus {
    background: #5d43df;
}


nav ul li a:not(:only-child)::after {
    padding-left: 4px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    background: transparent;
    color: #555;
    border-bottom: 1px solid #DDE0E7;
}

#logo {
    transition: all 0.10s;
    cursor: pointer;
}

#logo:hover {
    -webkit-filter: drop-shadow(2px 2.5px 2px rgba(255, 255, 255, 0.5));
    filter: drop-shadow(2px 2.5px 2px rgba(255, 255, 255, 0.5));
}
