<div class="content-profileVisitor">
    <div class="profile">
        <div id="profileImg">
            <img style="max-width: 100%; max-height: 100%; border-radius: 1000px; "
                src="../../assets/imagens/265022977_504567444335164_4044114440121806328_n.jpg" alt="" srcset="">
        </div>
        <p style="text-align: center; margin-top:30px; font-size:23px; font-weight: bolder;">Nathália Dutra</p>
        <br>
        <div style="text-align: center;">
            <label for="qtSeguidores">Seguidores <b>20</b></label> | <label for="qtSeguindo">Seguindo <b>20</b></label>
            <br><br>
            <button>Seguir</button>&nbsp;&nbsp;<button>Mensagem</button>
            <br><br>
            <p>Esta pessoa não te segue.</p>
        </div>

    </div>
    <div class="profileEvents">


    </div>
</div>