/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: auto;
    font-family: 'Roboto', sans-serif;
}


::-webkit-scrollbar {
    width: 4px;
    max-height: 4px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #7a65E9;
}

