<div class="content">
    <div class="profile">
        <p>oi</p>

    </div>
    <div class="feed">
        <div id="post_create">
            <div id="post_create_elements">
                <div id="profile_pic" style="position:absolute;">
                    <img src="../../assets/imagens/profile.png" alt="" srcset=""
                        style="max-width: 70px;max-height: 70px; position:static;">
                </div>
                <textarea name="" id="" cols="45" rows="2" placeholder="Escreva aqui seu post"></textarea>
                <br>
                <div id="buttons">
                    <abbr title="Arquivo de Música">
                        <img src="../../assets/imagens/arquivo-de-musica.png" alt="" srcset=""
                            style="width: 23px; height: 23px;">
                    </abbr>

                    &nbsp;
                    <abbr title="Criar evento">
                        <img src="../../assets/imagens/calendar-pen.png" alt="" srcset=""
                            style="width: 23px; height: 23px;">
                    </abbr>

                    &nbsp;
                    <abbr title="Foto/vídeo">
                        <img src="../../assets/imagens/camera.png" alt="" srcset="" style="width: 23px; height: 23px;">
                    </abbr>
                    <button id="publicar"><b>Publicar</b></button>
                </div>
            </div>
        </div>
    </div>
    <div class="atalhos">
        <p>oi</p>

    </div>
</div>