* {
    overflow: hidden;
    position: sticky;
}

.content-community {
    background: #18191A;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

.filtros {
    background: rgba(255, 255, 255, 0.089);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    max-height: 90vh;
    min-width: 50vh;
    margin: 10px;
    position: relative;
    margin: 29px;
}

#cabecalho_resultados button {
    background: #7a65E9;
    border: none;
    width: 50px;
    height: 35px;
    float: right;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

#busca button:hover {
    background: #5d43df;
}

#busca img {
    width: 20px;
    height: 20px;
}


#busca {
    display: flex;
    flex-direction: row;
    background: #fff;
    max-height: 35px;
    min-width: 250px;
}

#findByName {
    color: #000000;
    border: none;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    opacity: 1;
    width: 100%;

}

#findByName::placeholder {
    font-size: 20px;
}

#findByName:focus {
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0;
}

.resultados {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#usuario {
    background: #000;
    max-height: 280px;
    max-width: 250px;
    margin: 10px;
    cursor: pointer;
}

#usuario:hover {
    box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.075);
}

#usuario img {
    width: 10px;
    height: 10px;
}

#usuario #imagemUser {
    height: 50%;
    background: #5d43df;
}

#usuario #imagemUser img {
    width: 100%;
    height: 100%;
}

#rodape_usuario {
    float: right;
    margin-top: 10px;
}

#rodape_usuario img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
}

#rodape_usuario ul {
    padding: 20px;
    list-style: none;
}

#rodape_usuario ul li {
    float: left;
}

#rodape_usuario ul li {
    float: left;
}

#rodape_usuario ul li a {
    display: block;
    text-decoration: none;
    padding: 1rem 3.9rem;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

#rodape_usuario ul li ul li {
    min-width: 190px;
}

#rodape_usuario ul li a:hover {
    background: #5d43df;
}

::-webkit-scrollbar {
    width: 4px;
    max-height: 4px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #7a65E9;
}

#usuario label {
    text-transform: capitalize;
}

#instrumentos,
#generoMusical {
    display: flex;
    flex-direction: row;
    min-height: 100px;
}

#instrumentos input,
select {
    margin: 0 auto;
    margin-left: 2px;
    width: 20px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

#generoMusical input,
select {
    margin: 0 auto;
    margin-left: 2px;
    width: 20px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}


#instrumentos select {
    width: 200px;
    height: 27px;
    font-size: 25px;
    float: right;

}

#coluna1 {
    max-width: 50%;
}

#coluna2 {
    max-width: 50%;
}

#coluna2 input[type="text"]:focus {
    outline: none;
}

#instrumentos #coluna2 input[type="text"]::placeholder {
    color: #fff;
    font-size: 19px;
}

#instrumentos #coluna2 input[type="text"] {
    font-size: 20px;
    color: #fff;
}

#generoMusical #coluna2 input[type="text"]::placeholder {
    color: #fff;
    font-size: 19px;
}

#generoMusical #coluna2 input[type="text"] {
    font-size: 20px;
    color: #fff;
}

#uf, #nivel {
    border: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    width: 80px;
    outline: none;
    padding: 0;
    margin: 0;
    vertical-align: center;
    position: relative;
    top: 1px;
    overflow: hidden;
}

#cidade {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    height: 35px;
    width: 100%;
    display: inline-block;
}

#uf:focus {
    outline: none;
}

#local {
    margin: 1px;
    display: flex;
    flex-direction: row;
}

#cidade:focus {
    outline: none;
}

.filtros button {
    margin-top: 10px;
    width: 100%;
    height: 35px;
    cursor: pointer;
    background: #7a65E9;
    border: none;
    outline: none;
    color: #fff;

}

.filtros button:hover {
    background: #5d43df;
}